@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;

}

.jumbotron {
    height: 600px;
    background-image: url(/banner.png);
    background-size: cover;
}